.add-to-favorites {
    margin-left: 30px;
    font-size: 0.8em;
    color: #FF5661;
}

.listing-item h4 {
    margin-top: 2rem;
}

.document-item {
    margin: 15px 0;
}
.document-item>div {
    display: inline-block;
}
.document-item p {
    margin:0;
}
.file-icon {
    font-size: 3rem;
    margin-right: 1rem;;
}